/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum--express {
	--system-spectrum-actionbutton-background-color-default: var(--spectrum-gray-200);
	--system-spectrum-actionbutton-background-color-hover: var(--spectrum-gray-300);
	--system-spectrum-actionbutton-background-color-down: var(--spectrum-gray-400);
	--system-spectrum-actionbutton-background-color-focus: var(--spectrum-gray-300);
	--system-spectrum-actionbutton-border-color-default: transparent;
	--system-spectrum-actionbutton-border-color-hover: transparent;
	--system-spectrum-actionbutton-border-color-down: transparent;
	--system-spectrum-actionbutton-border-color-focus: transparent;
	--system-spectrum-actionbutton-background-color-disabled: var(--spectrum-disabled-background-color);
	--system-spectrum-actionbutton-border-color-disabled: transparent;
	--system-spectrum-actionbutton-content-color-disabled: var(--spectrum-disabled-content-color);
	--system-spectrum-actionbutton-animation-duration: var(--spectrum-animation-duration-100);
	--system-spectrum-actionbutton-border-radius: var(--spectrum-corner-radius-100);
	--system-spectrum-actionbutton-border-width: var(--spectrum-border-width-100);
	--system-spectrum-actionbutton-min-width: calc(var(--spectrum-component-edge-to-visual-only-100) * 2 + var(--spectrum-workflow-icon-size-100));
	--system-spectrum-actionbutton-height: var(--spectrum-component-height-100);
	--system-spectrum-actionbutton-icon-size: var(--spectrum-workflow-icon-size-100);
	--system-spectrum-actionbutton-font-size: var(--spectrum-font-size-100);
	--system-spectrum-actionbutton-text-to-visual: var(--spectrum-text-to-visual-100);
	--system-spectrum-actionbutton-edge-to-hold-icon: var(--spectrum-action-button-edge-to-hold-icon-medium);
	--system-spectrum-actionbutton-edge-to-visual: calc(var(--spectrum-component-edge-to-visual-100) - var(--spectrum-actionbutton-border-width));
	--system-spectrum-actionbutton-edge-to-text: calc(var(--spectrum-component-edge-to-text-100) - var(--spectrum-actionbutton-border-width));
	--system-spectrum-actionbutton-edge-to-visual-only: calc(var(--spectrum-component-edge-to-visual-only-100) - var(--spectrum-actionbutton-border-width));
	--system-spectrum-actionbutton-content-color-default: var(--spectrum-neutral-content-color-default);
	--system-spectrum-actionbutton-content-color-hover: var(--spectrum-neutral-content-color-hover);
	--system-spectrum-actionbutton-content-color-down: var(--spectrum-neutral-content-color-down);
	--system-spectrum-actionbutton-content-color-focus: var(--spectrum-neutral-content-color-key-focus);
	--system-spectrum-actionbutton-focus-indicator-gap: var(--spectrum-focus-indicator-gap);
	--system-spectrum-actionbutton-focus-indicator-thickness: var(--spectrum-focus-indicator-thickness);
	--system-spectrum-actionbutton-focus-indicator-color: var(--spectrum-focus-indicator-color);
	--system-spectrum-actionbutton-focus-indicator-border-radius: calc(var(--spectrum-actionbutton-border-radius) + var(--spectrum-actionbutton-focus-indicator-gap));
	--system-spectrum-actionbutton-background-color-default-selected: var(--spectrum-neutral-background-color-selected-default);
	--system-spectrum-actionbutton-background-color-hover-selected: var(--spectrum-neutral-background-color-selected-hover);
	--system-spectrum-actionbutton-background-color-down-selected: var(--spectrum-neutral-background-color-selected-down);
	--system-spectrum-actionbutton-background-color-focus-selected: var(--spectrum-neutral-background-color-selected-key-focus);
	--system-spectrum-actionbutton-content-color-default-selected: var(--spectrum-gray-50);
	--system-spectrum-actionbutton-content-color-hover-selected: var(--spectrum-gray-50);
	--system-spectrum-actionbutton-content-color-down-selected: var(--spectrum-gray-50);
	--system-spectrum-actionbutton-content-color-focus-selected: var(--spectrum-gray-50);
	--system-spectrum-actionbutton-border-color-default-selected: transparent;
	--system-spectrum-actionbutton-border-color-hover-selected: transparent;
	--system-spectrum-actionbutton-border-color-down-selected: transparent;
	--system-spectrum-actionbutton-border-color-focus-selected: transparent;
	--system-spectrum-actionbutton-background-color-disabled-selected: var(--spectrum-disabled-background-color);
	--system-spectrum-actionbutton-border-color-disabled-selected: transparent;
	--system-spectrum-actionbutton-sizexs-min-width: calc(var(--spectrum-component-edge-to-visual-only-50) * 2 + var(--spectrum-workflow-icon-size-50));
	--system-spectrum-actionbutton-sizexs-height: var(--spectrum-component-height-50);
	--system-spectrum-actionbutton-sizexs-icon-size: var(--spectrum-workflow-icon-size-50);
	--system-spectrum-actionbutton-sizexs-font-size: var(--spectrum-font-size-50);
	--system-spectrum-actionbutton-sizexs-text-to-visual: var(--spectrum-text-to-visual-50);
	--system-spectrum-actionbutton-sizexs-edge-to-hold-icon: var(--spectrum-action-button-edge-to-hold-icon-extra-small);
	--system-spectrum-actionbutton-sizexs-edge-to-visual: calc(var(--spectrum-component-edge-to-visual-50) - var(--spectrum-actionbutton-border-width));
	--system-spectrum-actionbutton-sizexs-edge-to-text: calc(var(--spectrum-component-edge-to-text-50) - var(--spectrum-actionbutton-border-width));
	--system-spectrum-actionbutton-sizexs-edge-to-visual-only: calc(var(--spectrum-component-edge-to-visual-only-50) - var(--spectrum-actionbutton-border-width));
	--system-spectrum-actionbutton-sizes-min-width: calc(var(--spectrum-component-edge-to-visual-only-75) * 2 + var(--spectrum-workflow-icon-size-75));
	--system-spectrum-actionbutton-sizes-height: var(--spectrum-component-height-75);
	--system-spectrum-actionbutton-sizes-icon-size: var(--spectrum-workflow-icon-size-75);
	--system-spectrum-actionbutton-sizes-font-size: var(--spectrum-font-size-75);
	--system-spectrum-actionbutton-sizes-text-to-visual: var(--spectrum-text-to-visual-75);
	--system-spectrum-actionbutton-sizes-edge-to-hold-icon: var(--spectrum-action-button-edge-to-hold-icon-small);
	--system-spectrum-actionbutton-sizes-edge-to-visual: calc(var(--spectrum-component-edge-to-visual-75) - var(--spectrum-actionbutton-border-width));
	--system-spectrum-actionbutton-sizes-edge-to-text: calc(var(--spectrum-component-edge-to-text-75) - var(--spectrum-actionbutton-border-width));
	--system-spectrum-actionbutton-sizes-edge-to-visual-only: calc(var(--spectrum-component-edge-to-visual-only-75) - var(--spectrum-actionbutton-border-width));
	--system-spectrum-actionbutton-sizem-min-width: calc(var(--spectrum-component-edge-to-visual-only-100) * 2 + var(--spectrum-workflow-icon-size-100));
	--system-spectrum-actionbutton-sizem-height: var(--spectrum-component-height-100);
	--system-spectrum-actionbutton-sizem-icon-size: var(--spectrum-workflow-icon-size-100);
	--system-spectrum-actionbutton-sizem-font-size: var(--spectrum-font-size-100);
	--system-spectrum-actionbutton-sizem-text-to-visual: var(--spectrum-text-to-visual-100);
	--system-spectrum-actionbutton-sizem-edge-to-hold-icon: var(--spectrum-action-button-edge-to-hold-icon-medium);
	--system-spectrum-actionbutton-sizem-edge-to-visual: calc(var(--spectrum-component-edge-to-visual-100) - var(--spectrum-actionbutton-border-width));
	--system-spectrum-actionbutton-sizem-edge-to-text: calc(var(--spectrum-component-edge-to-text-100) - var(--spectrum-actionbutton-border-width));
	--system-spectrum-actionbutton-sizem-edge-to-visual-only: calc(var(--spectrum-component-edge-to-visual-only-100) - var(--spectrum-actionbutton-border-width));
	--system-spectrum-actionbutton-sizel-min-width: calc(var(--spectrum-component-edge-to-visual-only-200) * 2 + var(--spectrum-workflow-icon-size-200));
	--system-spectrum-actionbutton-sizel-height: var(--spectrum-component-height-200);
	--system-spectrum-actionbutton-sizel-icon-size: var(--spectrum-workflow-icon-size-200);
	--system-spectrum-actionbutton-sizel-font-size: var(--spectrum-font-size-200);
	--system-spectrum-actionbutton-sizel-text-to-visual: var(--spectrum-text-to-visual-200);
	--system-spectrum-actionbutton-sizel-edge-to-hold-icon: var(--spectrum-action-button-edge-to-hold-icon-large);
	--system-spectrum-actionbutton-sizel-edge-to-visual: calc(var(--spectrum-component-edge-to-visual-200) - var(--spectrum-actionbutton-border-width));
	--system-spectrum-actionbutton-sizel-edge-to-text: calc(var(--spectrum-component-edge-to-text-200) - var(--spectrum-actionbutton-border-width));
	--system-spectrum-actionbutton-sizel-edge-to-visual-only: calc(var(--spectrum-component-edge-to-visual-only-200) - var(--spectrum-actionbutton-border-width));
	--system-spectrum-actionbutton-sizexl-min-width: calc(var(--spectrum-component-edge-to-visual-only-300) * 2 + var(--spectrum-workflow-icon-size-300));
	--system-spectrum-actionbutton-sizexl-height: var(--spectrum-component-height-300);
	--system-spectrum-actionbutton-sizexl-icon-size: var(--spectrum-workflow-icon-size-300);
	--system-spectrum-actionbutton-sizexl-font-size: var(--spectrum-font-size-300);
	--system-spectrum-actionbutton-sizexl-text-to-visual: var(--spectrum-text-to-visual-300);
	--system-spectrum-actionbutton-sizexl-edge-to-hold-icon: var(--spectrum-action-button-edge-to-hold-icon-extra-large);
	--system-spectrum-actionbutton-sizexl-edge-to-visual: calc(var(--spectrum-component-edge-to-visual-300) - var(--spectrum-actionbutton-border-width));
	--system-spectrum-actionbutton-sizexl-edge-to-text: calc(var(--spectrum-component-edge-to-text-300) - var(--spectrum-actionbutton-border-width));
	--system-spectrum-actionbutton-sizexl-edge-to-visual-only: calc(var(--spectrum-component-edge-to-visual-only-300) - var(--spectrum-actionbutton-border-width));
	--system-spectrum-actionbutton-quiet-background-color-default: transparent;
	--system-spectrum-actionbutton-quiet-background-color-hover: var(--spectrum-gray-300);
	--system-spectrum-actionbutton-quiet-background-color-down: var(--spectrum-gray-400);
	--system-spectrum-actionbutton-quiet-background-color-focus: var(--spectrum-gray-300);
	--system-spectrum-actionbutton-quiet-border-color-default: transparent;
	--system-spectrum-actionbutton-quiet-border-color-hover: transparent;
	--system-spectrum-actionbutton-quiet-border-color-down: transparent;
	--system-spectrum-actionbutton-quiet-border-color-focus: transparent;
	--system-spectrum-actionbutton-quiet-background-color-disabled: transparent;
	--system-spectrum-actionbutton-quiet-border-color-disabled: transparent;
	--system-spectrum-actionbutton-emphasized-selected-background-color-default: var(--spectrum-accent-background-color-default);
	--system-spectrum-actionbutton-emphasized-selected-background-color-hover: var(--spectrum-accent-background-color-hover);
	--system-spectrum-actionbutton-emphasized-selected-background-color-down: var(--spectrum-accent-background-color-down);
	--system-spectrum-actionbutton-emphasized-selected-background-color-focus: var(--spectrum-accent-background-color-key-focus);
	--system-spectrum-actionbutton-emphasized-selected-content-color-default: var(--spectrum-white);
	--system-spectrum-actionbutton-emphasized-selected-content-color-hover: var(--spectrum-white);
	--system-spectrum-actionbutton-emphasized-selected-content-color-down: var(--spectrum-white);
	--system-spectrum-actionbutton-emphasized-selected-content-color-focus: var(--spectrum-white);
	--system-spectrum-actionbutton-staticblack-background-color-default: var(--spectrum-transparent-black-200);
	--system-spectrum-actionbutton-staticblack-background-color-hover: var(--spectrum-transparent-black-300);
	--system-spectrum-actionbutton-staticblack-background-color-down: var(--spectrum-transparent-black-400);
	--system-spectrum-actionbutton-staticblack-background-color-focus: var(--spectrum-transparent-black-300);
	--system-spectrum-actionbutton-staticblack-border-color-default: transparent;
	--system-spectrum-actionbutton-staticblack-border-color-hover: transparent;
	--system-spectrum-actionbutton-staticblack-border-color-down: transparent;
	--system-spectrum-actionbutton-staticblack-border-color-focus: transparent;
	--system-spectrum-actionbutton-staticblack-content-color-default: var(--spectrum-black);
	--system-spectrum-actionbutton-staticblack-content-color-hover: var(--spectrum-black);
	--system-spectrum-actionbutton-staticblack-content-color-down: var(--spectrum-black);
	--system-spectrum-actionbutton-staticblack-content-color-focus: var(--spectrum-black);
	--system-spectrum-actionbutton-staticblack-focus-indicator-color: var(--spectrum-static-black-focus-indicator-color);
	--system-spectrum-actionbutton-staticblack-background-color-disabled: transparent;
	--system-spectrum-actionbutton-staticblack-border-color-disabled: var(--spectrum-disabled-static-black-border-color);
	--system-spectrum-actionbutton-staticblack-content-color-disabled: var(--spectrum-disabled-static-black-content-color);
	--system-spectrum-actionbutton-staticblack-background-color-default-selected: var(--spectrum-transparent-black-800);
	--system-spectrum-actionbutton-staticblack-background-color-hover-selected: var(--spectrum-transparent-black-900);
	--system-spectrum-actionbutton-staticblack-background-color-down-selected: var(--spectrum-transparent-black-900);
	--system-spectrum-actionbutton-staticblack-background-color-focus-selected: var(--spectrum-transparent-black-900);
	--system-spectrum-actionbutton-staticblack-content-color-defaul-selectedt: var(--spectrum-white);
	--system-spectrum-actionbutton-staticblack-content-color-hover-selected: var(--spectrum-white);
	--system-spectrum-actionbutton-staticblack-content-color-down-selected: var(--spectrum-white);
	--system-spectrum-actionbutton-staticblack-content-color-focus-selected: var(--spectrum-white);
	--system-spectrum-actionbutton-staticblack-background-color-disabled-selected: var(--spectrum-disabled-static-black-background-color);
	--system-spectrum-actionbutton-staticblack-border-color-disabled-selected: transparent;
	--system-spectrum-actionbutton-staticwhite-background-color-default: var(--spectrum-transparent-white-200);
	--system-spectrum-actionbutton-staticwhite-background-color-hover: var(--spectrum-transparent-white-300);
	--system-spectrum-actionbutton-staticwhite-background-color-down: var(--spectrum-transparent-white-400);
	--system-spectrum-actionbutton-staticwhite-background-color-focus: var(--spectrum-transparent-white-300);
	--system-spectrum-actionbutton-staticwhite-border-color-default: transparent;
	--system-spectrum-actionbutton-staticwhite-border-color-hover: transparent;
	--system-spectrum-actionbutton-staticwhite-border-color-down: transparent;
	--system-spectrum-actionbutton-staticwhite-border-color-focus: transparent;
	--system-spectrum-actionbutton-staticwhite-content-color-default: var(--spectrum-white);
	--system-spectrum-actionbutton-staticwhite-content-color-hover: var(--spectrum-white);
	--system-spectrum-actionbutton-staticwhite-content-color-down: var(--spectrum-white);
	--system-spectrum-actionbutton-staticwhite-content-color-focus: var(--spectrum-white);
	--system-spectrum-actionbutton-staticwhite-focus-indicator-color: var(--spectrum-static-white-focus-indicator-color);
	--system-spectrum-actionbutton-staticwhite-background-color-disabled: transparent;
	--system-spectrum-actionbutton-staticwhite-border-color-disabled: var(--spectrum-disabled-static-white-border-color);
	--system-spectrum-actionbutton-staticwhite-content-color-disabled: var(--spectrum-disabled-static-white-content-color);
	--system-spectrum-actionbutton-staticwhite-background-color-default-selected: var(--spectrum-transparent-white-800);
	--system-spectrum-actionbutton-staticwhite-background-color-hover-selected: var(--spectrum-transparent-white-900);
	--system-spectrum-actionbutton-staticwhite-background-color-down-selected: var(--spectrum-transparent-white-900);
	--system-spectrum-actionbutton-staticwhite-background-color-focus-selected: var(--spectrum-transparent-white-900);
	--system-spectrum-actionbutton-staticwhite-content-color-default-selected: var(--spectrum-black);
	--system-spectrum-actionbutton-staticwhite-content-color-hover-selected: var(--spectrum-black);
	--system-spectrum-actionbutton-staticwhite-content-color-down-selected: var(--spectrum-black);
	--system-spectrum-actionbutton-staticwhite-content-color-focus-selected: var(--spectrum-black);
	--system-spectrum-actionbutton-staticwhite-background-color-disabled-selected: var(--spectrum-disabled-static-white-background-color);
	--system-spectrum-actionbutton-staticwhite-border-color-disabled-selected: transparent;
	--system-spectrum-actionbutton-staticblack-quiet-border-color-default: transparent;
	--system-spectrum-actionbutton-staticwhite-quiet-border-color-default: transparent;
	--system-spectrum-actionbutton-staticblack-quiet-border-color-hover: transparent;
	--system-spectrum-actionbutton-staticwhite-quiet-border-color-hover: transparent;
	--system-spectrum-actionbutton-staticblack-quiet-border-color-down: transparent;
	--system-spectrum-actionbutton-staticwhite-quiet-border-color-down: transparent;
	--system-spectrum-actionbutton-staticblack-quiet-border-color-focus: transparent;
	--system-spectrum-actionbutton-staticwhite-quiet-border-color-focus: transparent;
	--system-spectrum-actionbutton-staticblack-quiet-border-color-disabled: transparent;
	--system-spectrum-actionbutton-staticwhite-quiet-border-color-disabled: transparent;
}
