/*!
 * Copyright 2024 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum--express {
	--system-stepper-border-width: var(--spectrum-border-width-200);
	--system-stepper-buttons-border-style: solid;
	--system-stepper-buttons-border-width: var(--spectrum-border-width-200);
	--system-stepper-buttons-border-color: transparent;
	--system-stepper-buttons-background-color: var(--spectrum-gray-50);
	--system-stepper-buttons-border-color-hover: transparent;
	--system-stepper-buttons-border-color-focus: transparent;
	--system-stepper-buttons-border-color-keyboard-focus: transparent;
	--system-stepper-button-border-radius-reset: var(--spectrum-in-field-button-fill-stacked-inner-border-rounding);
	--system-stepper-button-border-width: 0;
	--system-stepper-border-color: var(--spectrum-gray-400);
	--system-stepper-border-color-hover: var(--spectrum-gray-500);
	--system-stepper-border-color-focus: var(--spectrum-gray-800);
	--system-stepper-border-color-focus-hover: var(--spectrum-gray-900);
	--system-stepper-border-color-keyboard-focus: var(--spectrum-gray-900);
	--system-stepper-border-color-invalid: transparent;
	--system-stepper-border-color-focus-invalid: transparent;
	--system-stepper-border-color-focus-hover-invalid: transparent;
	--system-stepper-border-color-keyboard-focus-invalid: transparent;
	--system-stepper-button-background-color-focus: var(--spectrum-gray-400);
	--system-stepper-button-background-color-keyboard-focus: var(--spectrum-gray-300);
	--system-stepper-disabled-buttons-background-color: var(--spectrum-disabled-background-color);
	--system-stepper-disabled-buttons-border-width: 0;
}
